/* You must turn ON line numbers even though they are not displayed  */
/* Adapted from Vane6413 on Discord - this is mainly his code I have */
/* only adapted and tweaked it after some experimentation            */
/* The colors are based on the accent color.                         */

.cm-scroller
{
  padding-left: 5px !important;
}

.markdown-source-view .inline-title
{
  padding-bottom: 1.15em;
}

.markdown-source-view.mod-cm6.is-live-preview div.cm-editor div {
  caret-color: var(--color-accent); 
}

/* edit bar */

.cm-gutter {
  overflow: visible !important;
}

.cm-gutters
{
  padding-right: 15px !important;
}

.cm-gutterElement{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  transform: translate(2px, -1px);
    min-width: 10px !important;

/*  If you don't use the AnuPpuccin theme uncomment this line:*/
/*  background-color: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.1);*/

/*  If you don't use the AnuPpuccin theme comment this line: */
  background-color: rgba(var(--ctp-accent), 0.05);

}

.cm-gutterElement.cm-active{
  position: relative;
  background-color: var(--color-accent); /* change me */
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 19px 0px !important;
  border-radius: 5px;
}

.cm-gutterElement:nth-child(2)
{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cm-gutterElement:last-child
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Background of active line */
.cm-active.cm-line {
  filter: brightness(1.3) !important;
    background-color: rgba(var(--ctp-accent),0.05);
  margin-top: 10px;
}